<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- POST_NOTIFICATIONS, REQUEST_IGNORE_BATTERY_OPTIMIZATIONS, the notification action
         receiver, the tile service (:obliance:notifications), REQUEST_INSTALL_PACKAGES, the
         update FileProvider and receiver (:obliance:more) and WorkManager's initializer come
         in through manifest merge. -->

    <!-- Nothing is backed up: session cookies and the server registry stay on the device. -->
    <application
        android:name=".ObliNextApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ObliNext"
        android:usesCleartextTraffic="false"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Long press on the « Astreinte » Quick Settings tile (:obliance:notifications): S84. -->
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
